@media screen, print {
  body {
    background: #295E92;
    font: 16px Arial, Helvetica, sans-serif;
    padding: 0.5em 2em 2em 2em; }

  label {
    display: block; }

  input {
    display: block;
    margin-bottom: 1em; }

  h1, h2, h3 {
    text-transform: uppercase; }

  .success {
    background: lightgreen;
    border-bottom: 3px solid green;
    display: block;
    color: darkgreen;
    padding: .55em; }

  .notice {
    background: yellow;
    border-bottom: 3px solid orange;
    display: block;
    color: brown;
    padding: .55em; }

  .error, .failure {
    background: pink;
    border-bottom: 3px solid red;
    display: block;
    color: darkred;
    padding: .55em; }

  #content {
    background: white;
    border: 8px solid lightgrey;
    padding: 0 1em 2em 1em; }

  #flash_message {
    position: absolute;
    min-width: 100%;
    top: 0px;
    left: 0px; }

  #password_form {
    font-size: 1.25em; }
    #password_form input {
      font-size: 1.25em; } }
